In [43]:
import numpy as np
import pandas as pd
from tqdm import tqdm
import os

In [44]:
def clean_df(df):
  df = df.reset_index()
  df = df.drop(axis=0, index=0)
  df = df.drop(axis=1, columns=0)
  df = df.drop(axis=1, columns="index")
  df.index -=1
  return df

In [46]:
def unique_elems(lst1, lst2):
    lst3 = [value for value in lst1 if not value in lst2]
    return lst3

In [85]:
def cmp(df1, df2):
    rec_comb_union = []
    rec1_unique = []
    rec2_unique = []
    for i in tqdm(range(len(df1))):
      list1 = list(map(int, df1.loc[i][1].split()))
      list2 = list(map(int, df2.loc[i][1].split()))
      union_set = set(list1)
      union_set.update(list2)
      rec_comb_union.append(union_set)
      rec1_unique.append(unique_elems(list1, list2))
      rec2_unique.append(unique_elems(list2, list1))
    return rec_comb_union, rec1_unique, rec2_unique

In [45]:
import csv
with open('/content/submission-48147.csv', 'r') as file:
    reader = csv.reader(file)
    df_48147 = clean_df(pd.DataFrame(reader))
with open('/content/submission-50908.csv', 'r') as file:
    reader = csv.reader(file)
    df_50908 = clean_df(pd.DataFrame(reader))
with open('/content/submission-50910.csv', 'r') as file:
    reader = csv.reader(file)
    df_50910 = clean_df(pd.DataFrame(reader))

In [86]:
comparison = []
comparison.append(cmp(df_48147, df_50908))
comparison.append(cmp(df_48147, df_50910))
comparison.append(cmp(df_50908, df_50910))

100%|██████████| 13650/13650 [00:03<00:00, 4140.53it/s]
100%|██████████| 13650/13650 [00:03<00:00, 4233.67it/s]
100%|██████████| 13650/13650 [00:03<00:00, 4232.59it/s]

In [96]:
comparison_48147_50908_df = pd.DataFrame(list(zip(comparison[0][0],comparison[0][1],comparison[0][2])), columns=["Union", "Unique_48147", "Unique_50908"], )
comparison_48147_50908_df

                                                   Union  ...                 Unique_50908
0      {640, 1792, 7264, 2243, 16359, 9130, 16365, 60...  ...     [640, 12752, 1792, 7264]
1      {14400, 640, 2118, 10118, 940, 16365, 16012, 1...  ...                      [15119]
2      {6177, 5925, 14181, 13963, 16365, 16846, 1551,...  ...  [2748, 16846, 13963, 14181]
3      {960, 8194, 15844, 16359, 7719, 15082, 5981, 8...  ...                [15844, 7719]
4      {6177, 8194, 2152, 10954, 16494, 9871, 3473, 5...  ...                [13691, 7295]
...                                                  ...  ...                          ...
13645  {3200, 6177, 8898, 11491, 16486, 11303, 2665, ...  ...   [3829, 16486, 2665, 13914]
13646  {16640, 388, 5324, 11504, 3473, 17266, 14610, ...  ...                  [388, 5324]
13647  {3200, 1186, 13410, 7716, 2665, 16846, 17330, ...  ...          [4607, 3200, 13410]
13648  {6177, 14181, 6214, 13295, 17936, 2482, 11058,...  ...                [11058, 5273]
13649  {6306, 14627, 14536, 10026, 1137, 17330, 17748...  ...                [14390, 1137]

[13650 rows x 3 columns]

In [97]:
comparison_48147_50910_df = pd.DataFrame(list(zip(comparison[1][0],comparison[1][1],comparison[1][2])), columns=["Union", "Unique_48147", "Unique_50910"], )
comparison_48147_50910_df

                                                   Union  ...                Unique_50910
0      {640, 7264, 1792, 2243, 16359, 9130, 16365, 60...  ...    [640, 12752, 7264, 1792]
1      {14400, 640, 2118, 10118, 940, 16365, 16012, 1...  ...                     [15119]
2      {6177, 5925, 14181, 16365, 16846, 1551, 15119,...  ...        [2748, 14181, 16846]
3      {960, 8194, 15844, 16359, 7719, 15082, 5981, 8...  ...               [15844, 7719]
4      {6177, 8194, 2152, 10954, 16494, 9871, 3473, 5...  ...               [13691, 7295]
...                                                  ...  ...                         ...
13645  {3200, 6177, 8898, 11491, 16486, 11303, 2665, ...  ...  [3829, 16486, 2665, 13914]
13646  {16640, 388, 11504, 3473, 17266, 14610, 8635, ...  ...                       [388]
13647  {1186, 13410, 7716, 2665, 16846, 17330, 14868,...  ...               [4607, 13410]
13648  {6177, 14181, 6214, 13295, 17936, 2482, 11058,...  ...               [11058, 5273]
13649  {6306, 14627, 14536, 10026, 1137, 17330, 17748...  ...               [14390, 1137]

[13650 rows x 3 columns]

In [98]:
comparison_50908_50910_df = pd.DataFrame(list(zip(comparison[2][0],comparison[2][1],comparison[2][2])), columns=["Union", "Unique_50908", "Unique_50910"], )
comparison_50908_50910_df

                                                   Union  ... Unique_50910
0      {640, 1792, 7264, 16359, 16365, 6061, 12752, 8...  ...           []
1      {14400, 640, 2118, 940, 16365, 16012, 15119, 3...  ...           []
2      {6177, 14181, 13963, 16365, 16846, 1551, 17330...  ...      [14229]
3      {960, 8194, 15844, 16359, 7719, 15082, 5981, 8...  ...           []
4      {6177, 8194, 2152, 16494, 9871, 3473, 5299, 13...  ...           []
...                                                  ...  ...          ...
13645  {3200, 6177, 11491, 16486, 11303, 2665, 1259, ...  ...           []
13646  {16640, 388, 5324, 11504, 3473, 17266, 8635, 1...  ...       [8635]
13647  {3200, 13410, 7716, 11227, 2665, 16846, 14868,...  ...      [16846]
13648  {6177, 14181, 6214, 13295, 17936, 11058, 14358...  ...           []
13649  {14536, 10026, 1137, 17330, 17748, 14390, 1691...  ...           []

[13650 rows x 3 columns]